.left {
    height: 50%;
    position: fixed;
    z-index: 99;
    bottom: 30%;
    left: 0;
    right: 55%;
    
}

.right {
    height: 50%;
    position: fixed;
    z-index: 99;
    bottom: 30%;
    left: 55%;
    right: 0;
}

.imageLeft {
    position: fixed; 
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.imageRight {
    position: fixed; 
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.popup-content {
    background-color: rgb(42, 85, 85);
    border: #000;
    width: 80%;
    height: 80%
}

.modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
